
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}

:root {
	--fn-sans: 'Noto Sans KR', sans-serif;
    --color-gray: #abafb3;
    --color-blue: #0152bd;
    --btn-color-blue: #1f51a2;
}

.blind {
    width: 0;
    height: 0;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

button{
    background: none;
    border: none;
}