.lnb-wrap{
    border-right: 1px solid #e5e5e5;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    padding: 0 20px 0 30px;
    border-bottom: 1px solid #e5e5e5;
}
.search > input{
    border: 0;
    width: 80%;
    /* height: 30px; */
    font-size: 18px;
    font-weight: bold;
    color: #515151;
    letter-spacing: -1.08px;
    font-family: var(--fn-sans);
}
.lnb-list{
    height: 85vh;
    overflow-y: scroll;
}
.lnb-list::-webkit-scrollbar {
    display: none;
    width: 10px;
}
.lnb-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.lnb-list::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #fff;
}
.dep1-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
    padding: 0 30px;
    background-color: #515151;
    font-size: 20px;
    letter-spacing: -1.2px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.dep1-wrap.active{
    background-color: #0152bd;
}
.dep1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.arrow{
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(135deg);
}
.arrow.active{
    transform: rotate(315deg);
}
.dep2-wrap{
    display: none;
    width: 100%;
}
.dep2{
    width: 100%;
}
.dep2 > li{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    color: #363636;
    letter-spacing: -0.96px;
    border-bottom: 1px solid #e5e5e5;
}
.dep2 > li > a{
    display: block;
}
.dep2 > li.active{
    font-weight: bold;
}
.dep2 > li{
    white-space: nowrap;
}



.fa-magnifying-glass{
    color: #e5e5e5;
}
