.sub-wrap{
    display: flex;
    width: 100%;
}
.lnb{
    min-width: 311px;
    height: 100%;
}

.cont-wrap{
    width: 100%;
    background-color: #f4f7fc;
}
.cont-top{
    width: 100%;
    height: 66px;
}
